.activity-type {
    .open-answer {
        background-color: white;
        margin-top: 48px;
        margin-bottom: 20px;
        // height: 85px;
        border-radius: 20px;
        padding: 10px 40px 30px;
        position: relative;

        .pen {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 37px;
            bottom: 34px;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 2px solid var(--primary-35);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }
}
