.activity-type {
    .multiple-answer {
        margin-top: 48px;
        @include flex(row, center, center, 10px);
        flex-wrap: wrap;
        align-content: center;
        button {
            width: 140px;
            min-width: max-content;
            // max-width: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            height: 91px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            background-color: white;
            border: none;
        }
    }
    .open-answer {
        background-color: white;
        margin-top: 48px;
        margin-bottom: 20px;
        // height: 85px;
        border-radius: 20px;
        padding: 10px 40px 30px;
        position: relative;

        .pen {
            width: 24px;
            height: 24px;
            position: absolute;
            right: 37px;
            bottom: 34px;
        }

        input {
            width: 100%;
            border: none;
            border-bottom: 2px solid var(--primary-35);
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }
    }

    .yesno-answer {
        margin-top: 48px;
        @include flex(row, center, space-between, 10px);
        button {
            width: 160px;
            height: 91px;
            border-radius: 20px;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            background-color: white;
            border: none;
        }
    }

    .typing-answer {
        background-color: white;
        margin-top: 48px;
        margin-bottom: 20px;
        // height: 85px;
        border-radius: 20px;
        padding: 10px 40px 30px;

        @include flex(row, center, center, 10px);
        input {
            width: 25px;
            border: none;
            border-bottom: 2px solid var(--primary-35);
        }
    }

    button.open,
    button.typing {
        @include btn;
    }
}
