.answer-modal {
    @include modal();
    position: absolute;
    bottom: 0px;
    left: calc(50% - 380px / 2);
    translate: 0;

    background-color: white;
    padding: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    @include flex(column, center, center, 10px);

    @include for-mobile-layout {
    }

    .sign {
        position: absolute;
        top: -18px;
        @include flex(column, center, center);

        img {
            height: 41px;
            width: 41px;
        }
    }

    .txt {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &.success {
        .txt {
            color: #3ade72;
        }
    }

    &.error {
        .txt {
            color: red;
        }
    }
}
