.game-score {
    .list-header {
        padding: 10px 27px;
        @include flex(row, center, space-around, 15px);
        li {
            cursor: pointer;
            padding: 6px 10px 6px 10px;
            border-radius: 59px;
            background-color: white;

            &:last-child {
                margin-inline-start: auto;
                background: none;
                padding: 0;
            }
            &.active {
                background-color: var(--primary);
            }
        }
    }

    & > img {
        position: absolute;
        width: 45.64px;
        height: 35px;

        &:first-child {
            top: -10px;
            left: 50px;
        }
        &:nth-child(2) {
            top: -10px;
            right: 50px;
        }
    }
    .players-container {
        background: linear-gradient(180deg, #16469d 0%, #d2def9 100%);
        padding: 30px;
        margin-top: 10px;
        margin-bottom: 20px;

        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        color: white;
        border-radius: 10px;
        ul {
            li {
                height: 60.67px;
                padding: 10px;
                border-top: 1px solid white;
                &:last-child {
                    border-bottom: 1px solid white;
                }
                display: flex;
                align-items: center;
                section {
                    width: 100%;
                    @include flex(row, center);

                    // &.you {
                    //     background-color: #fff;
                    //     color: var(--primary);
                    //     border-radius: 10px;
                    //     padding: 7px;
                    //     // margin: 15px 0px;
                    // }

                    span.score {
                        // margin-inline-end: 10px;
                    }

                    span.img-container {
                        @include flex(row, center, center, 25px);
                        // margin-inline-start: 10px;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                        }
                    }

                    span.name {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
