.selected-img {
    position: relative;
    width: 100%;
    height: 100%;
    @include flex(row, center, center);
    img {
        &.green-v {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0px;
            left: 85px;
        }
        &.media-url {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2.5px solid #54ca7c;
        }
    }
}
