.user-msg {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 20px;
    z-index: 5;

    @include flex(row-reverse, center, center, 10px);

    &.success {
        background-color: green;
    }

    &.error {
        background-color: red;
    }

    span {
        margin-bottom: 3px;
    }

    & > button {
        @include flex(row, center, center);
        background: none;
        border: none;

        img {
            height: 15px;
        }
    }
}
