.user-img-add-modal {
    @include modal();
    padding: 25px 10px;
    background-color: white;
    @include flex(column, stretch, start);

    span {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        text-align: center;
        color: var(--primary-35);
    }
    label {
        @include flex(column, center, center);
        background-color: #f0f3f4;
        border-radius: 50%;
        width: 117px;
        height: 117px;
        margin-top: 52px;
        margin: 52px auto 56px;

        img {
            &.placeholder,
            &.loader {
                width: 34px;
                height: 34px;
            }
        }
    }
    button {
        @include btn;
    }
}
