.user-msg {
    @include modal();
    transition: 1s;
    background-color: white;
    // height: 200px;
    padding: 20px;
    padding-bottom: 30px;
    // border: 1px solid black;
    @include flex(column, center, center, 10px);

    @include for-mobile-layout {
        // height: 356px;
    }

    position: relative;

    .sign {
        position: absolute;
        top: -18px;

        border-radius: 50%;
        height: 36px;
        width: 36px;
        @include flex(column, center, center);

        img {
            height: 25px;
        }
    }

    .txt {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 10px;
    }

    &.success {
        .sign {
            background-color: green;
        }
        .txt {
            color: green;
        }
    }

    &.error {
        .sign {
            background-color: red;
        }
        .text {
            color: red;
        }
    }
}
