.admin {
    display: flex;
    flex-direction: column;
    align-items: center;

    form.create-game {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        align-items: center;

        img.logo-img {
            height: 80px;
        }

        .colors {
            display: flex;
        }

        // .img-color-picker-container {
        //     height: 200px;
        // }
    }
}
