.game-container {
    text-align: center;
    background-color: var(--primary-95);
    width: 100%;
    height: 100%;
    // padding: 0px 10px;
    @include flex(row, start, center);
    // background-image: url(../../img/logo-big.png);

    .game-bgi {
        position: absolute;
        left: 0;
        img {
            width: 258.92px;
            height: 328.42px;
            gap: 0px;
            opacity: 0.1px;
        }
    }

    .layer-1 {
        position: relative;
        // z-index: 5;
        width: 100%;
        max-width: 400px;
        height: 100%;

        .game-header {
            // margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 20px;
            margin: 0 10px;
            @include flex(row, center, space-between);
            button {
                background-color: white;
                border: none;
                border-radius: 59px;
                @include flex(row, center, center);

                &.game-name {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 21px;
                    // width: 110px;
                    height: 41px;
                    padding: 10px 20px 10px 20px;
                }

                &.points {
                    width: 41px;
                    height: 41px;

                    img {
                        width: 4px;
                        height: 22px;
                    }
                }
            }

            span.arrow {
                width: 41px;
                height: 41px;
                @include flex(row, center, center);

                img {
                    width: 29px;
                    height: 29px;
                }
            }
        }

        .game-step-0 {
            margin: 0 10px;
            // margin-top: 58px;

            .game-info {
                border-radius: 20px;
                background-color: white;
                padding: 15px;
                @include flex(column, center, space-between, 10px);
                font-size: 14px;
                line-height: 21px;

                h4 {
                    font-size: 16px;
                    font-weight: 700;
                }
                span,
                p {
                    font-weight: 500;
                }
            }

            .game-stat {
                border-radius: 20px;
                margin-top: 15px;
                background-color: var(--primary-95);
                padding: 15px;

                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: var(--primary-35);
                }
                .stat-info-container {
                    @include flex(row-reverse, center, space-between, 10px);
                    margin-top: 35px;
                    & > div {
                        width: 144px;
                        height: 130px;
                        border-radius: 10px;
                        background-color: white;
                        @include flex(column, center, start, 10px);
                        .txt {
                            width: 94%;
                            height: 69px;
                            border-radius: 10px 10px 20px 20px;
                            margin-top: 5px;
                            color: white;
                            padding: 8px;

                            font-size: 13px;
                            font-weight: 600;
                            line-height: 18px;

                            @include flex(column, center, end, 3px);

                            ~ span {
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 30px;
                                text-align: center;
                            }

                            &.points {
                                background: #b637ce;
                                ~ span {
                                    color: #b637ce;
                                }
                            }
                            &.place {
                                background: #6057c8;
                                ~ span {
                                    color: #6057c8;
                                }
                            }
                        }
                    }
                }
            }
        }

        .game-step-1 {
            margin: 0 10px;
        }

        button.score-btn {
            @include btn;
        }
    }
}
