.signup,
.login {
    .playspace-logo,
    .playspace-logo-blue {
        animation-delay: 800ms;
        animation-timing-function: cubic-bezier(0.7, -0.4, 0.4, 1.4);
        animation-duration: 3500ms;
        animation-fill-mode: forwards;
        width: 200px;
        height: 35.85px;
    }

    .playspace-logo {
        animation-name: smart;
        position: relative;

        @include for-short-layout {
            animation-name: smart1;
        }
    }
    .playspace-logo-blue {
        animation-name: smart2;
        position: absolute;
        left: calc(50% - 200px / 2);
        top: calc(50% - 35.85px / 2 - 50px);
        z-index: 5;

        @include for-short-layout {
            animation-name: smart3;
        }
    }

    .playspace-logo-blue-admin {
        position: absolute;
        top: calc((50% - 32px / 2) - 220px);
        left: calc(50% - 178.54px / 2);
        width: 178.54px;
        height: 32px;
    }
    @include flex(column, center, center);

    //////////////////////! step-1 ///////////////////////
    .step-1 {
        padding: 10px;
        width: 100%;
        max-width: 400px;
        // @include flex(column, stretch, center, 10px);
        .header {
            margin-top: 28px;
            @include flex(row, center, space-between, 10px);
            .select {
                font-weight: 600;
                color: var(--primary-35);
            }
            .plus {
                width: 29px;
                height: 29px;
                cursor: pointer;
            }
        }
        .avatar-container {
            margin-top: 15px;

            .carousel-container {
                height: 139px;
                border-radius: 10px;
                background-color: var(--primary-95);
                margin-bottom: 12px;
                padding: 10px 8px;

                span {
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            button {
                @include btn;
                margin-top: 15px;
            }
        }
    }
    //////////////////////! step-2 ///////////////////////

    .step-2 {
        width: 100%;
        max-width: 400px;
        padding: 10px;
        .header {
            margin-top: 28px;
            span {
                font-weight: 600;
                color: var(--primary-35);
            }
        }
        ul.groups-container {
            margin-top: 24px;
            // max-height: 468px;
            @include flex(column, stretch, start, 10px);
            // overflow-y: scroll;

            li {
                position: relative;
                // width: 340px;
                height: 71px;
                width: 100%;
                border-radius: 10px;
                @include flex(row, center, center);
                cursor: pointer;
                background: linear-gradient(119.9deg, #f2f2f2 4.09%, #e9f0fc 97.2%);

                font-weight: 600;
                line-height: 24px;

                &.selected {
                    border: 2.5px solid #54ca7c;
                }
                img.green-v {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top: 18px;
                    right: 10px;
                }
            }
        }
        button {
            @include btn;
            margin-top: 20px;
        }
    }
}

@keyframes smart {
    0% {
        top: 0px;
    }
    100% {
        top: -170px;
        width: 178.54px;
        height: 32px;
    }
}
// for short layout
@keyframes smart1 {
    0% {
        top: 0px;
    }
    100% {
        // top: 50px;
        top: -130px;
        width: 178.54px;
        height: 32px;
    }
}

@keyframes smart2 {
    0% {
        top: calc(50% - 35.85px / 2 - 50px);
    }
    100% {
        top: calc((50% - 32px / 2) - 220px);
        left: calc(50% - 178.54px / 2);
        width: 178.54px;
        height: 32px;
    }
}

// for short layout
@keyframes smart3 {
    0% {
        top: calc(50% - 35.85px / 2 - 50px);
    }
    100% {
        // top: calc((50% - 32px / 2) - 220px);
        top: 50px;
        // top: 50px;
        left: calc(50% - 178.54px / 2);
        width: 178.54px;
        height: 32px;
    }
}
