/* Media queries Breakpoint mixins */

// 0 - 700
@mixin for-mobile-layout {
    @media (max-width: $break-narrow) {
        @content;
    }
}

// 700 - 1000 (normal)
@mixin for-narrow-layout {
    @media (max-width: $break-normal) {
        @content;
    }
}

// 1000 - 1920 (wide)
@mixin for-normal-layout {
    @media (min-width: $break-normal) {
        @content;
    }
}

// 1920 -
@mixin for-wide-layout {
    @media (min-width: $break-wide) {
        @content;
    }
}

/* Media  Mixins */

//aspect ratio mixin
// @mixin aspect-ratio($width: 1, $height: 1) {
//     position: relative;
//     overflow: hidden;
//     &:before {
//         content: "";
//         display: block;
//         width: 100%;
//         padding-top: calc(($height / $width) * 100%);
//     }
//     > * {
//         position: absolute;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//     }
//     > img {
//         height: 100%;
//         object-fit: cover;
//     }
// }

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin flex($dir: row, $align: center, $justify: space-between, $gap: 0, $wrap: nowrap) {
    display: flex;
    flex-direction: $dir;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}

// Buttons

@mixin btn($type: regular) {
    // width: Fixed (340px) px;
    height: 41px;
    // top: 399px;
    // left: 10px;
    // gap: 10px;
    border-radius: 60px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background: var(--gradient);
    color: white;
    width: 100%;

    &:disabled {
        cursor: auto;
    }
}

// @mixin blue-btn($type: regular) {
// }

@mixin purple-btn($type: regular) {
    background-color: purple;
    color: white;
}

@mixin input($type: regular) {
    // width: 340px;
    height: 45px;
    border: var(--border-primary);
    border-radius: 10px;
    color: var(--dark-grey);

    &::placeholder {
        font-size: 14px;
        // line-height: 21px;
        // color: var(--dark-grey);
    }
}
