::selection {
  // background-color: $clr1;
  // color: $clr3;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  // font-family: Poppins;
  font-family: "Rubik", sans-serif;
}

:root {
  // css vars
  // primary from the company icon:
  --clr-0: blue;
  --clr-0-lighten: #{lighten(blue, 40%)}; //?

  --clr-1: rgb(143, 143, 232);
  --clr-2: rgb(218, 218, 238);

  // --new-black:
  --white: #fff;
  --dark-grey: #808080;
  --primary: #1f64e0;
  --primary-35: #16469d;
  --primary-95: #e9effc;

  --gradient-clr-1: #4c83e6;
  --gradient-clr-2: #11367a;

  --gradient: linear-gradient(106.96deg, var(--gradient-clr-1) 7.65%, var(--gradient-clr-2) 94.96%);

  --border-primary: 1.5px solid var(--primary);
}

html {
  // font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  @include for-mobile-layout {
  }
}

body {
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

label {
  cursor: pointer;
}

input,
textarea {
}

input:focus {
  outline: none;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
a:visited,
a:active {
  outline: none;
}

button,
a {
  cursor: pointer;
}
