.rtl {
    direction: rtl;
    font-family: "Rubik", sans-serif;
}

.clr1 {
    background-color: var(--clr-0);
}
.clr2 {
    background-color: var(--clr-1);
}
.clr3 {
    background-color: var(--clr-2);
}

.next-btn {
    @include btn;
}

.purple-btn {
    @include purple-btn;
}
