.main-layout {
  @include for-mobile-layout {
  }

  main {
    .main-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include for-narrow-layout {
    }

    @include for-mobile-layout {
    }
  }
}
